@model IEnumerable<KalustoLuetteloSovellus.Models.Käyttäjä>

@{
    ViewData["Title"] = "Index";
}

<h1>Käyttäjät</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus-circle"></i> Lisää uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Käyttäjätunnus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salasana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Käyttäjätunnus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salasana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooli.RooliNimi)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.KäyttäjäId"><i class="fas fa-edit"></i></a> 
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.KäyttäjäId"><i class="fas fa-search"></i></a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.KäyttäjäId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
