@model KalustoLuetteloSovellus.Models.Tuote

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista</h1>

<h3>Haluatko varmasti poistaa tämän tuotteen?</h3>
<div>
    <h4>Tuote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuvaus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuvaus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Kuva != null && Model.Kuva.Length > 0)
            {
                <img class="" style="width:256px;height:256px;object-fit:cover;border-radius:16px" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Kuva)" alt="Tuote kuva" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OstoPvm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OstoPvm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Takuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Takuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktiivinen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktiivinen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategoria.KategoriaNimi)
        </dd>
        @* <dt class = "col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.Status) *@
        @* </dt> *@
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Status.StatusNimi) *@
        @* </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toimipiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toimipiste.KaupunkiJaToimipisteNimi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TuoteId" />
        <div class=" d-flex gap-2 mb-4">
            <div class="form-group">
                <div class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    <input type="submit" value="Delete" style="background:none;border:none;color:white" />
                </div>
               
            </div>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">
                <i class="fas fa-arrow-left"></i> Takaisin
            </button>
        </div>
    </form>
</div>
