@* Tapahtumahistoria-sivun rivinäkymä *@

@model IEnumerable<KalustoLuetteloSovellus.Models.Tapahtuma>

@{
    var currentSort = Context.Request.Query["sortOrder"].ToString();

    string NextSort(string col) 
    { 
        return currentSort == col ? col + "_desc" : 
        currentSort == col + "_desc" ? col :
        col; 
    } 

    string SortIcon(string col) 
    { 
        if (currentSort == col) return " ▲"; 
        if (currentSort == col + "_desc") return " ▼"; 
        return ""; 
    } 
    var lajittelu = ViewData["lajittelu"] as bool? ?? true;
}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            @if (lajittelu)
            {
                <th style="vertical-align: top;" title="Sort by Status"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Status")" data-sort="Status">Status @SortIcon("Status")</a></th>
                <th style="vertical-align: top;" title="Sort by Tapahtuma ID"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("TapahtumaId")" data-sort="TapahtumaId">TapahtumaId @SortIcon("TapahtumaId")</a></th>
                <th style="vertical-align: top;" title="Sort by Tuote ID"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("TuoteId")" data-sort="TuoteId">TuoteId @SortIcon("TuoteId")</a></th>
                <th style="vertical-align: top;" title="Sort by Tuote"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Tuote")" data-sort="Tuote">Tuote @SortIcon("Tuote")</a></th>
                <th style="vertical-align: top;" title="Sort by Tunnistenumero"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("IdNumero")" data-sort="IdNumero">TunnisteNro @SortIcon("IdNumero")</a></th>
                <th style="vertical-align: top;" title="Sort by Luonti Pvm"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("AloitusPvm")" data-sort="AloitusPvm">Luonti pvm @SortIcon("AloitusPvm")</a></th>
                <th style="vertical-align: top;" title="Sort by Palautus Pvm"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("LopetusPvm")" data-sort="LopetusPvm">Palautus pvm @SortIcon("LopetusPvm")</a></th>
                <th style="vertical-align: top;" title="Sort by Kommentti"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Kommentti")" data-sort="Kommentti">Kommentti @SortIcon("Kommentti")</a></th>
                <th style="vertical-align: top;" title="Sort by Käyttäjä"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Käyttäjä")" data-sort="Käyttäjä">Käyttäjä @SortIcon("Käyttäjä")</a></th>
                <th style="vertical-align: top;" title="Sort by Toimipiste"><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Toimipiste")" data-sort="Toimipiste">Toimipiste @SortIcon("Toimipiste")</a></th>
                <th style="vertical-align: top;">Toiminnot</th>
            }

            else
            {

                //TÄSSÄ ON OTSIKOT ILMAN LAJITTELU OMINAISUUTTA
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.TapahtumaId)</th>
                <th>@Html.DisplayNameFor(model => model.Tuote.TuoteId)</th>
                <th>@Html.DisplayNameFor(model => model.Tuote.Kuvaus)</th>
                <th>@Html.DisplayNameFor(model => model.Tuote.IdNumero)</th>
                <th>@Html.DisplayNameFor(model => model.AloitusPvm)</th>
                <th>@Html.DisplayNameFor(model => model.LopetusPvm)</th>
                <th>@Html.DisplayNameFor(model => model.Kommentti)</th>
                <th>@Html.DisplayNameFor(model => model.Käyttäjä)</th>
                <th>@Html.DisplayNameFor(model => model.Tuote.Toimipiste.KaupunkiJaToimipisteNimi)</th>
                <th style="vertical-align: top;">Toiminnot</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td title="@item.Status.StatusNimi">@Html.DisplayFor(modelItem => item.Status.StatusNimi)</td>
                <td title="@item.TapahtumaId">@Html.DisplayFor(modelItem => item.TapahtumaId)</td>
                <td title="@item.Tuote.TuoteId">@Html.DisplayFor(modelItem => item.Tuote.TuoteId)</td>
                <td title="@item.Tuote.Kuvaus">@Html.DisplayFor(modelItem => item.Tuote.Kuvaus)</td>
                <td title="@item.Tuote.IdNumero">@Html.DisplayFor(modelItem => item.Tuote.IdNumero)</td>
                <td title="@item.AloitusPvm">@Html.DisplayFor(modelItem => item.AloitusPvm)</td>
                <td title="@item.LopetusPvm">@Html.DisplayFor(modelItem => item.LopetusPvm)</td>
                <td title="@item.Kommentti">@Html.DisplayFor(modelItem => item.Kommentti)</td>
                <td title="@item.Käyttäjä.Käyttäjätunnus">@Html.DisplayFor(modelItem => item.Käyttäjä.Käyttäjätunnus)</td>
                @* <td class="ms-auto">@if (item.Status != null)@await Html.PartialAsync("_StatusPartial", item.Status)</td> *@
                <td title="@item.Tuote.Toimipiste.KaupunkiJaToimipisteNimi">@Html.DisplayFor(model => item.Tuote.Toimipiste.KaupunkiJaToimipisteNimi)</td>
                <td class="dropdown" style="overflow: visible;">
                    <button class="btn btn-main dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bars me-2"></i>
                    </button>
                    <ul class="dropdown-menu">
                        @{
                            var latestStatus = Model
                            .Where(t => t.TuoteId == item.TuoteId)
                            .OrderByDescending(t => t.AloitusPvm)
                            .FirstOrDefault()?.Status.StatusNimi;
                        }
                        @if ((RoleHelper.IsUser(item.KäyttäjäId, Context) || RoleHelper.IsAdmin(Context)) && latestStatus != "Vapaa")
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Tapahtumat" asp-action="Palauta" asp-route-tuoteId="@item.TuoteId"><i class="fas fa-handshake me-2"></i>Palauta</a>
                            </li>
                        }

                        @if (RoleHelper.IsUser(item.KäyttäjäId, Context) || RoleHelper.IsAdmin(Context))
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Tapahtumat" asp-action="Edit" asp-route-id="@item.TapahtumaId"><i class="fas fa-edit me-2"></i>Muokkaa</a>
                            </li>
                        }

                        <li>
                            <a class="dropdown-item" asp-controller="Tapahtumat" asp-action="Details" asp-route-id="@item.TapahtumaId"><i class="fas fa-search me-2"></i>Tapahtuman tiedot</a>
                        </li>

                        <li>
                            <a class="dropdown-item" asp-action="Details" asp-controller="Tuotteet" asp-route-id="@item.TuoteId"><i class="fas fa-search me-2"></i>Tuotteen tiedot</a>
                        </li>

                        @if (RoleHelper.IsAdmin(Context))
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Tapahtumat" asp-action="Delete" asp-route-id="@item.TapahtumaId"><i class="fas fa-trash me-2"></i>Poista</a>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
