@* Karusellissa oleva tuotekorttinäkymä *@

@model KalustoLuetteloSovellus.Models.Tuote

@{
    var kuvaKokoW = 250;
    var kuvaKokoH = 250;
    // var kuvaKokoH = 350;

    string imageSrc;

    if (Model.Kuva != null && Model.Kuva.Length > 0)
    {
        imageSrc = Url.Action("GetCompressedImage", "Tuotteet", new { id = Model.TuoteId })
                   ?? Url.Content("~/Images/OletusKuva.png");
    }
    else
    {
        imageSrc = Url.Content("~/Images/OletusKuva.png");
    }
}

<a style="color: var(--text-color); text-decoration: none;"
asp-controller="Tuotteet"
asp-action="Details"
asp-route-id="@Model.TuoteId">
    @{
        var filter = "";
        // if (imageSrc == Url.Content("~/Images/OletusKuva.png"))
        // {
        //     filter = "filter:invert()";
        // }

    }
    <div class="carousel-item carousel-item-small col-md-4 mb-6" style="@filter;display: flex; flex-direction: column; height: @(kuvaKokoH)px; width: @(kuvaKokoW)px;
                position: relative; background-image: url('@imageSrc');
                background-size: cover; background-position: center; overflow: hidden;">
        
         <!-- Gradient overlay -->
        <div class="karuselli-gradientti"></div>

        <!-- Content -->
        <div class="d-flex ms-auto p-4" style="z-index: 2;">
            @await Html.PartialAsync("_StatusPartial", Model.Status)
        </div>

        <div class="d-flex flex-column p-2 mt-auto" style="z-index: 2;">
            <h1 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.2rem;" title="@Model.Kuvaus">
                @Html.DisplayFor(model => model.Kuvaus)
            </h1>
            <div>
                @Html.DisplayFor(model => model.IdNumero)
            </div>
        </div>

    </div>
</a>
