@model IEnumerable<KalustoLuetteloSovellus.Models.Tuote>

<div class="d-flex gap-2">
    <p>Kaikki tuotteet: <strong>@ViewData["Kaikki"]</strong></p>
    <p>Näytetyt tuotteet: <strong>@ViewData["Suodatetut"]</strong></p>
</div>

<div id="accordion" class="container-fluid">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Tapahtumat</th>
                <th>TuoteId</th>
                <th>Status</th>
                <th>Tunnistenro.</th>
                <th>Kuva</th>
                <th>Kuvaus</th>
                <th>OstoPvm.</th>
                <th>Hinta</th>
                <th>Takuu</th>
                <th>Kategoria</th>
                <th>Toimipiste</th>
                <th>Aktiivinen</th>
                <th></th>
            </tr>
        </thead>
        @* <tbody> *@
            @foreach (var item in Model)
            {
                string imageSrc;
                if (item.Kuva != null && item.Kuva.Length > 0)
                {
                    imageSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(item.Kuva)}";
                }
                else
                {
                    imageSrc = Url.Content("~/Images/OletusKuva.png");
                }

                <tr data-itemid="@item.TuoteId">
                    <td><a data-orderid="@item.TuoteId" data-bs-toggle="collapse" href="#collapse_@item.TuoteId" aria-expanded="false"><i class="btn btn-main fas fa-stream" style="color:black"></i></a></td>
                    <td>@Html.DisplayFor(modelItem => item.TuoteId)</td>
                    <td class="ms-auto">
                        @if (item.Aktiivinen == true)
                        {
                            @if (item.Status != null)
                            {
                                @await Html.PartialAsync("_StatusPartial", item.Status)
                            }
                        }
                        else
                        {
                            <i class="fas fa-circle-xmark"></i>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.IdNumero)</td>
                    <td><img class="img-thumbnail" style="width:25px;height:25px;object-fit:cover" src="@imageSrc" alt="Tuote kuva" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Kuvaus)</td>
                    <td>@Html.DisplayFor(modelItem => item.OstoPvm)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hinta)</td>
                    <td>@Html.DisplayFor(modelItem => item.Takuu)</td>
                    <td>@if (item.Kategoria != null) @Html.DisplayFor(modelItem => item.Kategoria.KategoriaNimi) </td>
                    <td>@if (item.Toimipiste != null) @Html.DisplayFor(modelItem => item.Toimipiste.ToimipisteNimi) </td>
                    <td>@Html.DisplayFor(modelItem => item.Aktiivinen)</td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-main" asp-action="Edit" asp-route-id="@item.TuoteId"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-main" asp-action="Details" asp-route-id="@item.TuoteId"><i class="fas fa-search"></i></a>
                        @if (KalustoLuetteloSovellus.RoleHelper.IsAdmin(Context))
                        {
                            <a class="btn btn-main" asp-action="Delete" asp-route-id="@item.TuoteId"><i class="fas fa-trash"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-main disabled" asp-action="Delete" asp-route-id="@item.TuoteId"><i class="fas fa-trash"></i></a>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="13">
                        <div id="collapse_@item.TuoteId" class="collapse" data-bs-parent="#accordion" aria-labelledby="heading_@item.TuoteId">
                            <div class="card-body">
                                @{
                                    var isVarattu = item?.Status?.StatusNimi == "Varattu";
                                    var userIsOwner = item.ViimeisinTapahtuma != null && RoleHelper.IsUser(item.ViimeisinTapahtuma.KäyttäjäId, Context);
                                    var userIsAdmin = RoleHelper.IsAdmin(Context);
                                }

                                @if (isVarattu)
                                {
                                    <p class="text-danger">Tämä tuote on varattu! Et voi luoda uutta tapahtumaa, ennen kun tuote on "Vapaa"-tilassa!</p>
                                }
                                else
                                {
                                    <a class="btn btn-main mt-2 mb-2" asp-controller="Tapahtumat" asp-action="Create" asp-route-tuoteId="@item.TuoteId">
                                        <i class="fas fa-calendar-check"></i> Luo uusi tapahtuma
                                    </a>
                                }

                                @if (isVarattu && (userIsOwner || userIsAdmin))
                                {
                                    <a class="btn btn-main mt-2 mb-2" asp-controller="Tapahtumat" asp-action="Palauta" asp-route-tuoteId="@item.TuoteId">
                                        <i class="fas fa-handshake"></i> Palauta tuote
                                    </a>
                                }
                                <hr />
                                <p class="fw-bold"> Tuotteen @item.TuoteId tapahtumarivit </p>
                                @await Html.PartialAsync("_TapahtumaRivitPartial", item.Tapahtumat)
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
