@model KalustoLuetteloSovellus.Models.Toimipiste

@{
    ViewData["Title"] = "Delete";
}
<div class="ms-auto me-auto">
    <h1>Poista</h1>
    <h3>Haluatko varmasti poistaa tämän?</h3>
    <h4>Toimipiste</h4>
    <hr />

    @* Tästä alkaa tapahtuman poistonäkymä *@

    <dl class="row">
        <div class="col-md-2">
            <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.Oppilaitos)</dt>
            <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.Oppilaitos)</dd>
            <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.Kaupunki)</dt>
            <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.Kaupunki)</dd>
            <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.ToimipisteNimi)</dt>
            <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.ToimipisteNimi)</dd>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ToimipisteId" />
        <div class="d-flex mt-2 gap-2 mb-4">
            <div class="form-group">
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Poista</button>
            </div>
            <div class="form-group">
            <button type="button" class="btn btn-secondary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i> Takaisin</button>
            </div>
        </div>
    </form>
</div>
