@model KalustoLuetteloSovellus.Models.Toimipiste

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista</h1>

<h3>Haluatko varmasti poistaa tämän kategorian?</h3>
<div>
    <h4>Toimipiste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oppilaitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oppilaitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kaupunki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kaupunki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToimipisteNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToimipisteNimi)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ToimipisteId" />
        <div class=" d-flex">
            <div class="form-group">
                <div class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    <input type="submit" value="Poista" style="background:none;border:none;color:white" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()">
                        <i class="fas fa-arrow-left"></i> Takaisin
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>
