@model KalustoLuetteloSovellus.Models.Toimipiste

@{
    ViewData["Title"] = "Details";
}

<h1>Tiedot</h1>

<div>
    <h4>Toimipiste</h4>
    <hr />

    @* Tästä alkaa tapahtumatietojen katseluäkymä *@

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oppilaitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oppilaitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kaupunki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kaupunki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToimipisteNimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToimipisteNimi)
        </dd>
    </dl>
</div>
<div>
    <div class="d-flex gap-2 mb-4">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ToimipisteId"><i class="fas fa-edit"></i> Muokkaa</a>
    <button class="btn btn-secondary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i>Takaisin</button>
</div>
