@model IEnumerable<KalustoLuetteloSovellus.Models.Toimipiste>

@{
    ViewData["Title"] = "Index";
}

<h1>Toimipisteet</h1>

@* Lisää uusi toimipiste linkki *@

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus-circle"></i> Lisää uusi</a>
</p>

@* Tästä alkaa toimipisteiden listanäkymä *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToimipisteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oppilaitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaupunki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToimipisteNimi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToimipisteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oppilaitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaupunki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToimipisteNimi)
            </td>
            <td>
                    <a class="btn btn-main" asp-action="Edit" asp-route-id="@item.ToimipisteId"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-main" asp-action="Details" asp-route-id="@item.ToimipisteId"><i class="fas fa-search"></i></a>
                    <a class="btn btn-main" asp-action="Delete" asp-route-id="@item.ToimipisteId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
