@model IEnumerable<KalustoLuetteloSovellus.Models.Toimipiste>

@{
    ViewData["Title"] = "Index";
}

<h1>Toimipisteet</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oppilaitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaupunki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToimipisteNimi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oppilaitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaupunki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToimipisteNimi)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ToimipisteId"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ToimipisteId"><i class="fas fa-search"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ToimipisteId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
