@model KalustoLuetteloSovellus.Models.Tapahtuma

@{
    ViewData["Title"] = "Delete";
}

<div class="ms-auto me-auto">
    <h1>Poista</h1>
    <h3>Haluatko varmasti poistaa tämän?</h3>
    <div>
        <h4>Tapahtuma</h4>
        <hr />

        @* Tästä alkaa tapahtuman poistonäkymä *@

        <dl class="row">
            <div class="col-md-2">
                <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.AloitusPvm)</dt>
                <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.AloitusPvm)</dd>
                <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.LopetusPvm)</dt>
                <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.LopetusPvm)</dd>
                <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.Kommentti)</dt>
                <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.Kommentti)</dd>
                <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.Käyttäjä)</dt>
                <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.Käyttäjä.Käyttäjätunnus)</dd>
                <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.Tuote)</dt>
                <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.Tuote.Kuvaus)</dd>
                <dt class="col-sm-2 text-nowrap">@Html.DisplayNameFor(model => model.Tuote.IdNumero)</dt>
                <dd class="col-sm-10 text-nowrap">@Html.DisplayFor(model => model.Tuote.IdNumero)</dd>
            </div>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="TapahtumaId" />
            <div class=" d-flex gap-2 mb-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Poista</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()"><i class="fas fa-arrow-left"></i> Takaisin</button>
                </div>
            </div>
        </form>
    </div>
</div>
