@model KalustoLuetteloSovellus.Models.Tapahtuma

@{
    ViewData["Title"] = "Details";
}

<h1>Tiedot</h1>

<div>
    <h4>Tapahtuma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AloitusPvm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AloitusPvm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopetusPvm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LopetusPvm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kommentti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kommentti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Käyttäjä)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Käyttäjä.Käyttäjätunnus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuote.Kuvaus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuote.IdNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuote.IdNumero)
        </dd>
    </dl>
</div>
<div>
    @if (RoleHelper.IsUser(Model.KäyttäjäId, Context) || RoleHelper.IsAdmin(Context))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.TapahtumaId"><i class="fas fa-edit"></i>Muokkaa</a>
    }
    else
    {
        <a class="btn btn-primary disabled" asp-action="Edit" asp-route-id="@Model?.TapahtumaId"><i class="fas fa-edit"></i>Muokkaa</a>
            
    }
    <button class="btn btn-secondary ms-2" onclick="window.history.back()"><i class="fas fa-arrow-left"></i>Takaisin</button>
</div>
