@model IEnumerable<KalustoLuetteloSovellus.Models.Tapahtuma>

@{
    ViewData["Title"] = "Index";
}

<h1>Tapahtumat</h1>

@* <p> *@
@*     <a class="btn btn-main" asp-action="Create"><i class="fa fa-plus-circle"></i> Lisää uusi</a> *@
@* </p> *@
<h5 class="pb-4">Uuden tapahtuman luonti tuotteen kautta</h5>

<div class="d-flex gap-2">
    <p>Kaikki tapahtumat: <strong>@ViewData["Kaikki"]</strong></p>
    <p>Näytetyt tapahtumat: <strong>@ViewData["Suodatetut"]</strong></p>
</div>
<div class="d-flex gap-2">
    <form method="get" class="d-flex gap-2 mb-2">
        <div class="form-group">
            <label>Status</label>
            <select name="statusId" class="form-control" asp-items="ViewBag.Statuses">
                <option value="">Kaikki statukset</option>
            </select>
        </div>

        <div class="form-group">
            <label>Toimipiste</label>
            <select name="toimipisteId" class="form-control" asp-items="ViewBag.Toimipisteet">
                <option value="">Kaikki toimipisteet</option>
            </select>
        </div>

        <button type="submit" class="btn btn-main mt-4"><i class="fas fa-filter"></i> Suodata</button>
    </form>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tuote.TuoteId)</th>
            <th>@Html.DisplayNameFor(model => model.Tuote.IdNumero)</th>
            <th>@Html.DisplayNameFor(model => model.AloitusPvm)</th>
            <th>@Html.DisplayNameFor(model => model.LopetusPvm)</th>
            <th>@Html.DisplayNameFor(model => model.Kommentti)</th>
            <th>@Html.DisplayNameFor(model => model.Käyttäjä)</th>
            <th>@Html.DisplayNameFor(model => model.Tuote)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Tuote.Toimipiste.KaupunkiJaToimipisteNimi)</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Tuote.TuoteId)</td>
            <td>@Html.DisplayFor(modelItem => item.Tuote.IdNumero)</td>
            <td>@Html.DisplayFor(modelItem => item.AloitusPvm)</td>
            <td>@Html.DisplayFor(modelItem => item.LopetusPvm)</td>
            <td>@Html.DisplayFor(modelItem => item.Kommentti)</td>
            <td>@Html.DisplayFor(modelItem => item.Käyttäjä.Käyttäjätunnus)</td>
            <td>@Html.DisplayFor(modelItem => item.Tuote.Kuvaus)</td>
            <td>@Html.DisplayFor(modelItem => item.Status.StatusNimi)</td>
            <td>@Html.DisplayFor(model => item.Tuote.Toimipiste.KaupunkiJaToimipisteNimi)</td>
            <td class="d-flex gap-2">
                <a class="btn btn-main" asp-action="Edit" asp-route-id="@item.TapahtumaId"><i class="fas fa-edit"></i></a>
                <a class="btn btn-main" asp-action="Details" asp-route-id="@item.TapahtumaId"><i class="fas fa-search"></i></a>
                <a class="btn btn-main" asp-action="Delete" asp-route-id="@item.TapahtumaId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
