@model IEnumerable<KalustoLuetteloSovellus.Models.Tapahtuma>

@{
    ViewData["Title"] = "Index";
}

<style>
.sort-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    white-space:nowrap;
}
</style>
<h1>Tapahtumat</h1>

@* <p> *@
@*     <a class="btn btn-main" asp-action="Create"><i class="fa fa-plus-circle"></i> Lisää uusi</a> *@
@* </p> *@
<h5 class="pb-4">Uuden tapahtuman luonti tuotteen kautta</h5>

<div class="d-flex gap-2">
    <p>Kaikki tapahtumat: <strong>@ViewData["Kaikki"]</strong></p>
    <p>Näytetyt tapahtumat: <strong>@ViewData["Suodatetut"]</strong></p>
</div>
<div class="d-flex gap-2">
    <form method="get" class="d-flex gap-2 mb-2">
        <div class="form-group">
            <label>Status</label>
            <select name="statusId" class="form-control" asp-items="ViewBag.Statuses">
                <option value="">Kaikki</option>
            </select>
        </div>

        <div class="form-group">
            <label>Toimipiste</label>
            <select name="toimipisteId" class="form-control" asp-items="ViewBag.Toimipisteet">
                <option value="">Kaikki</option>
            </select>
        </div>

        <button type="submit" class="btn btn-main mt-4"><i class="fas fa-filter"></i> Suodata</button>
    </form>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            @{
                var currentSort = Context.Request.Query["sortOrder"].ToString();

                string NextSort(string col)
                {
                    return currentSort == col ? col + "_desc" :
                    currentSort == col + "_desc" ? col :
                    col;
                }

                string SortIcon(string col)
                {
                    if (currentSort == col) return " ▲";
                    if (currentSort == col + "_desc") return " ▼";
                    return "";
                }
            }
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("TuoteId")">TuoteId @SortIcon("TuoteId")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("IdNumero")">Id numero @SortIcon("IdNumero")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("AloitusPvm")">Aloitus pvm @SortIcon("AloitusPvm")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("LopetusPvm")">Lopetus pvm @SortIcon("LopetusPvm")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Kommentti")">Kommentti @SortIcon("Kommentti")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Käyttäjä")">Käyttäjä @SortIcon("Käyttäjä")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Tuote")">Tuote @SortIcon("Tuote")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Status")">Status @SortIcon("Status")</a></th>
            <th><a class="sort-link" asp-action="Index" asp-route-sortOrder="@NextSort("Toimipiste")">Toimipiste @SortIcon("Toimipiste")</a></th>

            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Tuote.TuoteId)</td>
            <td>@Html.DisplayFor(modelItem => item.Tuote.IdNumero)</td>
            <td>@Html.DisplayFor(modelItem => item.AloitusPvm)</td>
            <td>@Html.DisplayFor(modelItem => item.LopetusPvm)</td>
            <td>@Html.DisplayFor(modelItem => item.Kommentti)</td>
            <td>@Html.DisplayFor(modelItem => item.Käyttäjä.Käyttäjätunnus)</td>
            <td>@Html.DisplayFor(modelItem => item.Tuote.Kuvaus)</td>
            <td>@Html.DisplayFor(modelItem => item.Status.StatusNimi)</td>
            <td>@Html.DisplayFor(model => item.Tuote.Toimipiste.KaupunkiJaToimipisteNimi)</td>
            <td class="d-flex gap-2">
                <a class="btn btn-main" asp-action="Edit" asp-route-id="@item.TapahtumaId"><i class="fas fa-edit"></i></a>
                <a class="btn btn-main" asp-action="Details" asp-route-id="@item.TapahtumaId"><i class="fas fa-search"></i></a>
                <a class="btn btn-main" asp-action="Delete" asp-route-id="@item.TapahtumaId"><i class="fas fa-trash"></i></a>
                <a class="btn btn-main" title="Tuote details" asp-controller="Tuotteet" asp-action="Details" asp-route-id="@item.TuoteId"><i class="fas fa-cube"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
